:root {
  --primary: #7653fc;
  --primary-hover: #947afa;
  --primary-card: #f9f8ffe2;
  --white: #fff;
  --black: #3b434e;
  --light-gray: #ebebeb;
  --gray: #787d85;
  --deep-gray: #b3c0d9;
  --border-gray: #dfdfdf;
  --background-gray: #f5f6f8;
  --light-gray-hover: #ebebebed;
  --dashed-gray: #c4c4c4;
  --advantages-gray: #d2d2d2;
  --light-green: #c8f8e4;
  --green: #0d9b60;
  --red: #de0000;
  --light-red: #f9a1a1;
  --rating-star-color: #e2e2e2;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: var(--background-gray);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
