:root {
  --primary: #7653fc;
  --primary-hover: #653ffe;
  --white: #fff;
  --black: #3b434e;
  --light-gray: #ebebeb;
  --gray: #787d85;
  --border-gray: #dfdfdf;
  --background-gray: #f5f6f8;
  --light-gray-hover: #ebebebed;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: var(--background-gray);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
