.dynamicRating {
  position: relative;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.starBox {
  padding-right: 5px;
  color: var(--rating-star-color);
}

.active {
  color: var(--primary);
}

.error {
  position: absolute;
  bottom: 4px;
  left: 0;

  color: var(--light-red);

  font-weight: 400;
  font-size: 14px;
}
