.thirdLevelList {
  display: none;
}

.thirdLevelList:last-child {
  margin-bottom: 10px;
}

.active {
  display: block;
}

.noItem {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  color: var(--gray);
}
