.rating {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stars {
  margin-top: 4px;
  display: flex;
}

.starBox {
  padding-right: 5px;
}

.star {
  color: var(--rating-star-color);
}

.active {
  color: var(--primary);
}

.reviewCount {
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
}

.noReviews {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}
