.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.logoBox {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 7px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: auto;
  }
}
