.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 205px;
  width: 100%;
  gap: 22px;
}

.logoBox {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 7px;
}

@media screen and (width <= 768px) {
  .sidebar {
    max-width: 100%;
  }
}
