.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.value {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.additional {
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
  width: 100%;
  align-self: flex-end;
}
