.title {
  color: var(--primary);
  text-wrap: pretty;
}

.xl {
  font-weight: 500;
  font-size: 26px;
}

.l {
  font-size: 22px;
}

.m {
  font-weight: 600;
  font-size: 20px;
}

.s {
  font-weight: 300;
  font-size: 20px;
}

.black {
  color: var(--black);
}

.primary {
  color: var(--primary);
}
