.title {
  color: var(--primary);
  font-weight: normal;
}

.xl {
  font-weight: 500;
  font-size: 26px;
}

.l {
  font-size: 22px;
}

.black {
  color: var(--black);
}

.primary {
  color: var(--primary);
}
