.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  position: relative;
  display: flex;
  height: 100%;
  padding: 22px;
  gap: 33px;
  flex: 1;
}

.main {
  width: 100%;
}

@media screen and (width <= 768px) {
  .layout .mobile {
    display: none;
  }

  .content {
    flex-direction: column;
  }
}
