.header {
  margin-bottom: 60px;
  text-wrap: pretty;
  text-align: justify; /* Выравнивание по ширине */
  hyphens: auto;
}

.middle,
.aboutSection {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 60px;
}

.middleText,
.aboutText {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--gray);
  text-wrap: pretty;
  text-align: justify; /* Выравнивание по ширине */
  hyphens: auto;
}

.homeImage,
.aboutImage {
  mask-image: radial-gradient(
    circle at center,
    rgb(0 0 0 / 100%) 40%,
    rgb(0 0 0 / 0%) 100%
  );
}

.aboutText {
  color: var(--black);
}

.actions {
  display: flex;
  gap: 30px;
}

@media screen and (width <= 1254px) {
  .homeImage,
  .aboutImage {
    width: 300px;
    height: 272px;
  }

  .middleText,
  .aboutText {
    max-width: 300px;
  }

  .actions {
    flex-direction: column;
  }
}

@media screen and (width <= 950px) {
  .middle,
  .aboutSection {
    flex-direction: column;
    align-items: center;
  }

  .header {
    text-align: center;
  }
}
