.card {
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  border-radius: 5px;
}

.white {
  background-color: var(--white);
}

.purple {
  background-color: var(--primary-card);
}

.ghost {
  box-shadow: none;
}

@media screen and (width <= 400px) {
  .card {
    padding: 15px;
  }
}
