.top {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 18px;
}

.topLeft {
  display: flex;
  gap: 30px;
  align-items: center;
}

.image {
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.topRight {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 20px;
}

.middle {
  padding: 22px 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.description {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 18px;
}

.characteristics {
  display: flex;
  gap: 30px;
}

.characteristics > div {
  flex: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.actions {
  padding-top: 22px;
  display: flex;
  gap: 20px;
}

.arrow {
  transition: transform 0.2s;
}

.arrowActive {
  transform: rotate(90deg);
}

@media screen and (width <= 1120px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (width <= 1010px) {
  .characteristics {
    flex-direction: column;
  }
}
