.titleWrapper {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 24px;
}

.infoWrapper {
  display: flex;
  align-items: center;
}

@media screen and (width <= 935px) {
  .infoWrapper {
    flex-direction: column;
  }
}
