.icon {
  color: var(--gray);
}

.secondLevelList {
  padding-left: 30px;
  margin-left: 12px;
  border-left: 1px solid var(--border-gray);

  overflow: hidden;
  transform-style: preserve-3d; /* Улучшает производительность */
  backface-visibility: hidden; /* Убирает артефакты */
}

.secondLevelList:last-child {
  margin-bottom: 25px;
}
